html {
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #000;
}

body {
    height: 100%;
    background: linear-gradient(to left top, #c2f9ea, #93f5da);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-weight: 400;
    font-size: 4.5em;
    text-align: center;
}

main {
    height: 100%;
    width: 70%;
    margin: 0 auto;
}

.formulary {
    display: flex;

    background-color: white;
    border-radius: 1.1em;
    outline: #000;
    outline-width: 5px;
}

.todo {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 40px 30px 40px;
}

.content {
    flex: 1;
    margin: 20px 40px 30px 40px;
    display: flex;
    flex-direction: column;
}

.info, .info-here {
    display: block;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px; 
    margin-top: 0;
}

.todo-items {
    flex: 1;
}

.todo-items-list {
    margin: 0;
    padding: 0;
}

.todo-items-list li {
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

.todo-items-list li .btn-close {
    float: right;
    position: absolute;
    border: none;
    background: none;
    font-size: 1.5em;
}

.todo-items-list li .btn-close:hover {
    cursor: pointer;
}

.todo-items-list li span {
    font-size: 1.2em;
    display: inline-block;
    width: 100%;
}

.todo-input {
    box-sizing: border-box;
    resize: none;
    font-size: 1.3em;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid grey;
    transition: all 0.1s;
}

.todo-input:focus {
    border: 1px solid #93f5da;
}

.btn {
    height: 40px;
    width: 100%;
    background: linear-gradient(to left top, #c2f9ea, #93f5da);
    border: none;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1240px) {
    main {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .formulary {
        flex-direction: column;
    }

    h1 {
        font-size: 3em;
    }

    .info, .info-here {
        font-size: 1.7em;
    }
}